@import '../../styles/variables.scss';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .ant-layout-header {
    background: transparent;
    padding: 0 25px;

    .logo {
      float: left;
      margin-right: 50px;

      a {
        font-size: 25px;
        color: #000;
      }

      img {
        width: 40px;
        opacity: 0.4;
      }
    }

  }
}