/*app specific*/
/*fonts*/
/*colors*/
/*borders*/
/*backgrounds*/
/*titles*/
/*links*/
/*text*/
/*social*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
  .header .ant-layout-header {
    background: transparent;
    padding: 0 25px; }
    .header .ant-layout-header .logo {
      float: left;
      margin-right: 50px; }
      .header .ant-layout-header .logo a {
        font-size: 25px;
        color: #000; }
      .header .ant-layout-header .logo img {
        width: 40px;
        opacity: 0.4; }
