/*app specific*/
/*fonts*/
/*colors*/
/*borders*/
/*backgrounds*/
/*titles*/
/*links*/
/*text*/
/*social*/
/* backgrounds */
.background {
  display: block;
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/* content center */
.content-center {
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column; }
