@import '../../../node_modules/antd/dist/antd.css';
@import './variables.scss';
@import './extends.scss';
/*

@font-face {
  font-family: Arial;
  src: url(../fonts/arial.ttf) format("truetype");
}

@font-face {
  font-family: Arial-Bold;
  src: url(../fonts/Arial_Bold.ttf) format("truetype");
}

@font-face {
  font-family: Lato-Light;
  src: url(../fonts/Lato-Light.ttf) format("truetype");
}

@font-face {
  font-family: Lato-Regular;
  src: url(../fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Pacifico-Regular;
  src: url(../fonts/Pacifico-Regular.ttf) format("truetype");
}
*/

body {
  //font-family: Lato-Regular, sans-serif !important;
  background-color: #fff !important;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

::-moz-selection {
  background: $primary-color;;
}

::selection {
  background: $primary-color;
}

a {
  color: $primary-color;

  &:hover {
    color: $primary-color;
  }

  &:visited {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

.page {
  min-height: calc(100vh - 64px);
  margin-top: 64px;
  background: #fff;
}

.container {
  width: 85%;
  margin: auto;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

.arrow_box_right {
  position: relative;
  background: $primary-color;
}

.arrow_box_right:after, .arrow_box_right:before {
  right: -10px;
  top: 24px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_right:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: $primary-color;
  border-width: 5px;
  margin-top: -5px;
}

.arrow_box_right:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: $primary-color;
  border-width: 8px;
  margin-top: -8px;
  display: none;
}

.arrow_box_left {
  position: relative;
  background: #f1f1f1;
}

.arrow_box_left:after, .arrow_box_left:before {
  left: -10px;
  top: 24px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_left:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #f1f1f1;
  border-width: 5px;
  margin-top: -5px;
}

.arrow_box_left:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #f1f1f1;
  border-width: 8px;
  margin-top: -8px;
  display: none;
}