/*app specific*/
$primary-color: #FF5A1B;
$secondary-color: #1bc0ff;
$screen-background: #d4e6f9;
$brand-red: #c0392b;

/*fonts*/
$arial-normal: Arial, sans-serif;
$arial-bold: Arial-Bold, sans-serif;
$lato-light: Lato-Light, sans-serif;
$lato-regular: Lato-Regular, sans-serif;
$lato-bold: Lato-Bold, sans-serif;
$roboto-thin: Roboto-Thin, sans-serif;
$roboto-light: Roboto-Light, sans-serif;
$roboto-regular: Roboto-Regular, sans-serif;
$roboto-bold: Roboto-Bold, sans-serif;

/*colors*/
$brand-primary-green: #56b6a1;
$brand-white: #fff;
$brand-dark-grey: #555;

/*borders*/
$border-light-color: #e9e9e9;
$border-dark-color: #9da3a5;

/*backgrounds*/
$thumbnail-bg: #f7f7f7;
$light-bg: #fafafa;

/*titles*/
$title-color: #4a4a4a;
$text-color: #1f2021;
$light-text: #a7a7a7;

/*links*/
$link-color: #4a4a4a;

/*text*/
$greenish-text: #68834c;

/*social*/
$facebook-color: #3c5a98;
$twitter-color: #1ea1f2;
$instagram-color: #bb0296;
