@import '../../styles/variables.scss';
@import '../../styles/extends.scss';

.home {
  .content {
    height: 100vh;
    overflow: hidden;

    .ant-carousel {
      .slick-slider {
        .slick-arrow {
          z-index: 1;
          color: #fff;
          font-size: 20px;
          display: flex !important;
          @extend .content-center;
          width: 30px;
          height: 30px;
          background: rgba(0, 0, 0, 0.4);
          border-radius: 50px;

          &.slick-prev {
            left: 30px;
          }

          &.slick-next {
            right: 30px;
          }

        }
      }
    }

    .slide {
      height: 100vh;
      position: relative;

      .image {
        @extend .background;
        background-color: #000;
        background-size: contain;
        height: 100%;
      }

      .author {
        position: absolute;
        bottom: 20px;
        left: 25px;
        z-index: 2;

        a {
          font-size: 14px;
          color: rgba(255, 255, 255, 0.4);

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
