/*app specific*/
/*fonts*/
/*colors*/
/*borders*/
/*backgrounds*/
/*titles*/
/*links*/
/*text*/
/*social*/
/*app specific*/
/*fonts*/
/*colors*/
/*borders*/
/*backgrounds*/
/*titles*/
/*links*/
/*text*/
/*social*/
/* backgrounds */
.background, .home .content .slide .image {
  display: block;
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/* content center */
.content-center, .home .content .ant-carousel .slick-slider .slick-arrow {
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column; }

.home .content {
  height: 100vh;
  overflow: hidden; }
  .home .content .ant-carousel .slick-slider .slick-arrow {
    z-index: 1;
    color: #fff;
    font-size: 20px;
    display: flex !important;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50px; }
    .home .content .ant-carousel .slick-slider .slick-arrow.slick-prev {
      left: 30px; }
    .home .content .ant-carousel .slick-slider .slick-arrow.slick-next {
      right: 30px; }
  .home .content .slide {
    height: 100vh;
    position: relative; }
    .home .content .slide .image {
      background-color: #000;
      background-size: contain;
      height: 100%; }
    .home .content .slide .author {
      position: absolute;
      bottom: 20px;
      left: 25px;
      z-index: 2; }
      .home .content .slide .author a {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.4); }
        .home .content .slide .author a:hover {
          color: #fff; }
